[Unit]
Description=AIS
After=syslog.target network-online.target

[Service]
Type=simple
User=ais
ExecStart=/usr/bin/rtl_ais -R on -n
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target

